*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f56df5, #fff4ff);
}

.container{
  background-color: whitesmoke;
  padding: 30px;
  width: 340px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0, 10px, 20px rgba(0, 0, 0, 0.2);
}

h1{
  margin-bottom: 25px;
  color: black;
}

input{
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 25px;
  border: 1px solid black;

}
.buttons{
display: flex;
justify-content: space-between;
margin-top: 10px;
}

button{
width: 80%;
padding: 15;
gap: 20px;
border: none;
border-radius: 18px;
background: #3498db;
color: white;
cursor: pointer;
font-size: 16px;
transition: 0.3s;
}

button:hover{
  background: #2980b9;
}

#button.reset{
  margin-top: 25px;
  color: #333;
}