*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #a297f7ff, #c1aff7ff);
}

 .container{
  width: 450px;
  padding: 40px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255, 0.3);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 5px 18px rgba(0,0,0,0.2);
}

h1{
  color: #333;
  margin-bottom: 25px;
}

input{
  width: 100%;
  padding: 12px;
  font-size: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
}

input:focus{
  border-color: #a297f7ff;
}

button{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #0984e3;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover{
  background: #74b9ff;
}

#message{
  margin-top: 15px;
  font-size: 14px;
}